.button_white {
    white-space: nowrap;
    border-radius: 190px;
    box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
    background: var(--F5FAFF);
    color: var(--64D370);
}

.button__green {
    white-space: nowrap;
    border-radius: 190px;
    box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
    background: var(--64D370);
    color: var(--F5FAFF);
}