@use "/src/scss/base/mixins" as *;

.left__menu {
    position: absolute;
    top: 180px;
    left: 50px;
    z-index: 2;

    ul {
        display: flex;
        flex-direction: column;
        // height: 670px;
        row-gap: 70px;
        justify-content: space-between;
        padding-inline-start: 0;

        li {

            display: flex;
            column-gap: 10px;
            align-items: center;
            font-size: 20px;
            font-weight: 700;
            font-family: Comfortaa;
            width: 70px;
            height: 70px;
            @include box-white;

            &:hover {
                width: 100px;
            }

            &:active {
                width: 220px;

                span {
                    opacity: 1;
                }
            }

            &:last-child {
                font-size: 26px;
                font-weight: 300;
                line-height: 25px;
            }

            a {
                display: flex;
                align-items: start;
                // width: 100%;
                height: 100%;
                padding: 0 13px;

                div {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }

                &:hover {
                    align-items: start;
                    color: var(--64D370);

                    svg path {
                        fill: var(--64D370);
                    }
                }
            }
        }

        span {
            width: 100%;
            font-family: Comfortaa;
            font-size: 25px;
            font-weight: 700;
            color: var(--64D370);
            opacity: 0;
        }
    }
}

@media screen and (max-width: 1536px) {
    .left__menu {
        ul {
            row-gap: 50px;
        }
    }
}

@media screen and (max-width: 1280px) {
    .left__menu {
        top: 120px;

        ul {
            row-gap: 20px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .left__menu {
        left: 40px;

        ul {
            li {
                width: 41px;
                height: 41px;
                font-size: 10px;

                &:last-child {
                    font-size: 16px;
                    line-height: 16px;

                    svg {
                        height: 13px;
                    }
                }

                a {
                    padding: 0 9px;

                    svg {
                        width: 23px;
                        height: 23px;
                    }
                }

                &:hover {
                    width: 70px;
                }

                &:active {
                    width: 120px;
                }

                span {
                    font-size: 12px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .left__menu {
        top: 120px;

        ul {
            row-gap: 10px;
        }
    }
}