<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__menu">
                <ul>
                    <li><a href="/index.html">Програмы питания</a></li>
                    <li><a href="/about.html">О нас</a></li>
                    <li><a href="#">Бизнес-ланчи</a></li>
                    <li><a href="#">Gastro Shop</a></li>
                    <li><a href="#">Блог</a></li>
                </ul>
            </div>
            <div class="footer__logo">
                <img src="/src/img/GastroChef.png" alt="imgLogo">
                <div class="footer__logo-text">сервис здорового питания</div>
            </div>
            <div class="footer__contacts">
                <ul>
                    <li> <a class="terms" href="javascript:void(0)">Условия сотрудничества</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>

                <div class="footer__icons">
                    <a href="https://www.instagram.com/gastrochef.kyiv/"><img src="/src/icons/social/instagram.svg"
                            alt="instagram"></a>
                    <a href="https://www.facebook.com/gastrochef.kyev"><img src="/src/icons/social/facebook.svg"
                            alt="facebook"></a>
                    <a href="viber://chat?number=%2B380689494919"><img src="/src/icons/social/viber.svg"
                            alt="viber"></a>
                    <a href="tg://resolve?domain=GastroChef_kyev"><img src="/src/icons/social/telegram.svg"
                            alt="telegram"></a>
                </div>

                <a class="footer__phone" href="tel:+380689494919">+38 (068) 949 - 49 - 19</a>
            </div>
        </div>
    </div>
</footer>