<div class="container">
    <div class="mainmenu">
        <div class="mainmenu__wrapper">
            <a class="mainmenu__logo" href="/index.html">
                <div class="mainmenu__logo-content">
                    <img src="/src/img/GastroChef.png" alt="imgLogo">
                    <div class="mainmenu__logo-text">healthy ration</div>
                </div>
            </a>
            <div class="mainmenu__panel"></div>
            <div class="mainmenu__phone-circle">
                <a href="tel:+380689494919">
                    <svg width="26.735840" height="30.694000" viewBox="0 0 26.7358 30.694" fill="none"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>
                            Created with Pixso.
                        </desc>
                        <defs />
                        <path id="Vector 2"
                            d="M11.03 23.53C13.45 22.24 18.78 18.24 20.71 12.47L17.15 9.47L19.89 0L26.71 1.08C27.09 10.14 22.6 28.76 1.63 30.69L0 23.15L8.55 19.48L11.03 23.53Z"
                            fill="#65CF71" fill-opacity="1.000000" fill-rule="evenodd" />
                    </svg>
                </a>
            </div>
            <div class="mainmenu__hamburger">
                <div class="mainmenu__hamburger-block">
                    <span></span><span></span><span></span>
                </div>
            </div>
        </div>

        <div class="mainmenu__body">
            <div class="mainmenu__list">
                <ul>
                    <li><a class="mainmenu__list_item mainmenu__list-item1 mainmenu__list_item-active" href="/index.html">Програмы
                            питания</a></li>
                    <li><a class="mainmenu__list_item mainmenu__list-item2" href="#">Бизнес-ланчи</a></li>
                    <li><a class="mainmenu__list_item mainmenu__list-item3" href="#">Gastro Shop</a></li>
                    <li><a class="mainmenu__list_item mainmenu__list-item4" href="/about.html">О нас</a></li>
                    <li><a class="mainmenu__list_item mainmenu__list-item5" href="/blog.html">Блог</a></li>
                </ul>
            </div>
            <div class="mainmenu__phone"><a href="tel:+380689494919">+38 (068) 949 - 49 -19</a></div>
            <div class="mainmenu__lang">
                <div class="mainmenu__lang-item mainmenu__lang-item_RU mainmenu__lang-item_active">RU</div>
                <div class="mainmenu__lang-item mainmenu__lang-item_UA">UA</div>
                <div class="mainmenu__lang-item mainmenu__lang-item_EN">EN</div>
            </div>
        </div>
    </div>
</div>