@use "sass:map";
@use '/src/scss/base/variables' as variables;

// для container
@mixin respond($breakpoint) {
  @media (max-width: map.get(variables.$breakpoints, $breakpoint)) {
    @content;
  }
}

// округлая форма для блоков
@mixin box-white {
  white-space: nowrap;
  border-radius: 190px;
  box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
  background: var(--F5FAFF);
  // color: var(--64D370);
}

@mixin box-green {
  white-space: nowrap;
  border-radius: 190px;
  box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
  background: var(--64D370);
  color: var(--F5FAFF);
}
// шрифты для promo -> descr
@mixin promo-descr($big, $small) {
  .promo__descr {
            .promo__descr-big,
            .promo__descr-bigkob {
                font-size: $big;
                line-height: $big;
            }
            .promo__descr-small {
                font-size: $small;
            }
        }
}
//
@mixin promo-rightbox($diameter, $border, $scale) {
      .promo__rightbox {
        width: $diameter;
        height: $diameter;
        border: $border solid var(--F5FAFF);
      }
      .promo__img-1,.promo__img-2,.promo__img-3,.promo__img-4 {
        scale: $scale;
      }
}

// @mixin before_circle {
//     &:before {
//         content: '';
//         position: absolute;
//         top: -25%;
//         left: 0;
//         z-index: -1;
//         width: 36px;
//         height: 36px;
//         background: $main-color;
//         border-radius: 100%;
//     }
// }