:root {
    --F5FAFF: #F5FAFF;
    --020202: #020202;
    --00BA2D: #00BA2D;
    --00BA2D: #00BA2D;
    --1890FF: #1890FF;
    --26F03A: #26F03A;
    --DEE6EE: #DEE6EE;
    --E5E5E5: #E5E5E5;
    --F4F9FE: #F4F9FE;
    --F5FAFE: #F5FAFE;
    --F87676: #F87676;
    --FC3766: #FC3766;
    --FE3666: #FE3666;
    --64D370: #64D370;
}
// переменные для контейнера (паддинги и ширина)
$breakpoints: (
  s576: 576px,
  s768: 768px,
  s1024: 1024px,
  s1280: 1280px,
  s1536: 1536px
);

$container-paddings: ( 
  s576: 20px,
  s768: 40px,
//   s1024: 48px
//   s1280: 64px,
//   s1536: 80px
);

$container-width: (
    base: 1180px,
    s1280: 900px,
    s768: auto
);