.hello {
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 56px 0 15%;

    &__left {
        width: 450px;
        font-family: Comfortaa;
        font-size: 20px;
        font-weight: 300;
    }

    &__hello {
        font-size: 32px;
        font-weight: 700;

        span {
            color: var(--64D370);
        }
    }

    &__welcom {
        font-weight: 700;
    }

    &__right {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 700px;
        height: 700px;
        border-radius: 100%;
        border: 35px solid var(--F5FAFF);
        box-shadow: 0px 0px 30px 0px rgba(86, 86, 86, 0.3);
        background: rgb(245, 250, 255);
        z-index: 2;
        overflow: hidden;
    }
}

@media screen and (max-width: 1536px) {
    .hello {
        &__right {
            width: 530px;
            height: 530px;

            img {
                scale: 0.75;
                transform: translateY(100px);
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .hello {
        &__left {
            width: 400px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .hello {
        align-items: start;

        &__left {
            font-size: 10px;
            width: 252px;
        }

        &__hello {
            font-size: 17px;
        }

        &__right {
            width: 307px;
            height: 307px;
            border: 17px solid var(--F5FAFF);

            img {
                scale: 0.41;
                transform: translateY(100px);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .hello {
        justify-content: space-between;
        margin: 0;
        padding: 0 8px 0 15%;
        &__left {
            padding-top: 30px;
        }
        &__right {
            width: 230px;
            height: 230px;
            border: 15px solid var(--F5FAFF);
            img {
                scale: 0.3;
            }
        }
    }
}

@media screen and (max-width: 576px)  {
    .hello {
        flex-direction: column-reverse;
        align-items: start;
        padding: auto;
        &__left {
            padding-top: 10px;
        }
        &__right {
            margin: -86px 30px 0 auto;
            width: 127px;
            height: 127px;
            border: 8px solid var(--F5FAFF);
            img {
                scale: 0.17;
            }
        }

    }
}